<section id="ip-tracker__container">
  <div class="ip-tracker__data">
    <h1>IP Address Tracker</h1>
    <form>
      <input type="text" value="192.212.174.101" />
      <button type="button">></button>
    </form>
    <section class="ip-tracker__data-shower">
      <div>
        <p>IP Adress</p>
        <span>192.212.174.101</span>
      </div>
      <div>
        <p>Location</p>
        <span>Brooklyn, NY 10001</span>
      </div>
      <div>
        <p>Timezone</p>
        <span>UTC-05:00</span>
      </div>
      <div>
        <p>ISP</p>
        <span>SpaceX Starlink</span>
      </div>
    </section>
  </div>
</section>
